<div class="m-social-media">
    <a class="m-social-media__icon m-social-media__icon--facebook"
       href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}"
       target="_blank" rel="noopener noreferrer">
        <img src="https://cdn.simpleicons.org/facebook/1877F2" alt="Share on Facebook">
    </a>

    <a class="m-social-media__icon m-social-media__icon--instagram"
       href="https://www.instagram.com/YourPage"
       target="_blank" rel="noopener noreferrer">
        <img src="https://cdn.simpleicons.org/instagram/E4405F" alt="View on Instagram">
    </a>
</div>
